{{md-check checked=checkboxIsSelected class='valign'}}
{{#if isEditing}}
  <div class="row">
      <div class="col sm1">
        {{dz-edit-field value=title focus-out='acceptChanges' insert-newline='acceptChanges'}}
      </div>
      <div class="col sm1">
        {{dz-edit-field value=value focus-out='acceptChanges' insert-newline='acceptChanges'}}
      </div>
  </div>
{{else}}
  {{title}} = {{value}}
  {{md-btn btnClass='indigo btn-small' icon='mdi-action-delete' buttonType='floating' class='valign' action='remove'}}
{{/if}}