﻿<!DOCTYPE html>
<html manifest="manifest.appcache">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<script type='text/javascript'>window.addEventListener('load', function (e) { window.applicationCache.addEventListener('updateready', function (e) { if (window.applicationCache.status == window.applicationCache.UPDATEREADY) { window.applicationCache.swapCache(); window.location.reload(); } }, false); }, false);</script>
	<title>Material</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{content-for 'head'}}
	<link rel="stylesheet" href="assets/vendor.css">
	<link rel="stylesheet" href="assets/material.css">
	{{content-for 'head-footer'}}
</head>
<body>
	{{content-for 'body'}}
	<script src="assets/vendor.js"></script>
	<script src="assets/material.js"></script>
	{{content-for 'body-footer'}}
</body>
</html>
