
{{#md-navbar name='Example' class='navbar-fixed teal'}}
	{{#link-to 'about' tagName='li'}}
	<a>About</a>
	{{/link-to}}
	{{#link-to 'favorites' tagName='li'}}
	<a>Favorites</a>
	{{/link-to}}
  {{#link-to 'settings' tagName='li'}}
    <a class='mdi-action-settings' />
  {{/link-to}}
{{/md-navbar}}

{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}


<footer class="page-footer teal">
	<div class="footer-copyright">
		<div class="container">
			Made by <a class="brown-text text-lighten-3" href="http://dzoay.com">Dzoay</a>
		</div>
	</div>
</footer>