{{#md-card title=constantsTitle}}
  {{#md-card-content}}
      <div class="row valign-wrapper">
          <div class="col">
            {{md-input label=newConstantTitle value=title class="valign"}}
          </div>
          <div class="col">
            {{md-input label=newConstantValueTitle value=value class="valign"}}
          </div>
          <div class="col">
            {{md-btn btnClass="indigo btn-small" class="valign" icon="mdi-action-done" buttonType="floating" action="createConstant"}}
          </div>
      </div>
      {{#each model.all as |constant|}}
        {{dz-input-list-item title=constant.title value=constant.value}}
      {{/each}}
  {{/md-card-content}}
{{/md-card}}