{{#mat-parallax image="assets/background1.jpg"}}
    <div class="container">
        <h1 class="header center teal-text text-lighten-2">Compass Toolkit</h1>
        <div class="row center">
            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
        <div class="row center">
          {{md-input value=model.name label="Email"}}
          {{md-input value=model.password type="password" label="Password"}}
          {{#link-to 'intervention-modules' class="btn-large waves-effect waves-light teal lighten-1"}}
              <a>Login</a>
          {{/link-to}}
        </div>
    </div>
{{/mat-parallax}}
