<div class="container">
  {{#md-card title=settingsTitle}}
    {{#md-card-content}}
      {{md-select content=availableLanguages value=locale label=supportedLanguagesTitle }}
    {{/md-card-content}}
  {{/md-card}}
</div>